<html xmlns:th="http://www.thymeleaf.org">
<script src="http://code.jquery.com/jquery-1.10.2.js"></script>
<script src="https://cdn.iamport.kr/v1/iamport.js"></script>

<body>
	<div th:replace="~{include/top}"></div>

	<h2>장바구니 목록 보기</h2>
	<script type="text/javascript" th:inline="javascript">
		function delOne(cid) {
			alert("cid:" + cid)
			location.href = "/event/cartDel?cid=" + cid
		}

		function delK() {
			alert("전체삭제")
			f1.action = "/event/cartDel2"
		}
	</script>

	<section>
		 <form name=f1>
				<table width = 650>
					<tr align="center">
						<td>상품이미지</td>
						<td>수량</td>
						<td>취소</td>
					</tr>
					<th:block th:if="${li.size() < 1}">
					<tr align="center">
						<td colspan="3" >구매한 물건이 없습니다!</td>
					</tr>
					</th:block>
					<th:block th:if="${li.size() >= 1}">
					<tr th:each="m, mStat: ${li} " 
						th:class="${mStat.last} ? '' : 'eventList-line'">

						<td align = center> 
							<img th:src="${m.eimage}" width=80 height=100  /></td>
						<td class="cart-name">
							<div>
							<a th:href="@{/event/eventDetail(ename=${m.ename})}"
								th:text="${m.ename}"></a>
							</div>
						    <div th:text="'상품가격 : '+ ${m.price}"></div>
							<div th:text="'상품수량 : '+ ${m.amount}"> </div>
						</td>
						<td align = center>
							<div class="cart-onedelete">
								<input type="button" value="취소" th:onClick="delOne([[${m.cid}]])">
							</div>
						</td>
					</tr>
					</th:block>
				</table>
				
				<th:block th:if="${li.size() >= 1}">
				<div class="kg_pay_btn" th:data-name="마주스토리" th:data-price="${total}"
					 th:data-goodsnum="${mm}">
						<input type=hidden id=datepicker value="2024-08-02">
						<button type="button" th:onclick="kg_request_pay()">결제하기</button>&emsp; 
						<input type=submit value="전체삭제" onClick="delK()" /> &emsp; 
						결제금액 : <input type=text th:value="${total}" />
				</div>		
				</th:block>
			</form>
	</section>
	<script th:inline="javascript">
		jQuery.ajaxSetup({
			cache : false
		});

		function kg_request_pay() {
			alert("확인!!")

			//전달할 데이터 4가지는 필수 값
			// data-name(상품이름): 3개월무료사용 , data-price(가격): 100  , data-goodsnum(주문번호) : "70001" 
			var selectedDate = document.getElementById("datepicker").value;
			var selectedGoodsName = document.querySelector(".kg_pay_btn")
					.getAttribute("data-name");
			var selectedGoodsPrice = document.querySelector(".kg_pay_btn")
					.getAttribute("data-price");
			var selectedGoodsNum = document.querySelector(".kg_pay_btn")
					.getAttribute("data-goodsnum");

			//kg이니시스 결제 API
			var IMP = window.IMP; // 생략가능
			IMP.init('imp33165546'); // 가맹점 식별코드

			// IMP.request_pay(param, callback) 결제창 호출
			IMP.request_pay({
				pg : "html5_inicis",
				pay_method : "card",
				merchant_uid : "gpay_" + new Date().getTime(), // 주문번호
				name : "마주스토리" + " " + selectedGoodsName, // 상품이름
				amount : selectedGoodsPrice, // 상품가격 (숫자 타입)
				buyer_email : "liom0987@gamil.com",
				buyer_name : "Jang HyeonSeo",
				buyer_tel : "01038516963"
			}, function(rsp) { // callback
				console.log(rsp);
				if (rsp.success) { //결제 성공시
					var msg = '결제가 완료되었습니다.';
					var result = {
						"mpaynum" : rsp.merchant_uid, //결제번호
						"membernum" : "AA00001", //회원번호
						"mpaymethod" : rsp.pay_method, //결제수단
						"mpayproduct" : rsp.name, //헬스장 이름 + 상품이름
						"mpayprice" : rsp.paid_amount, // 결제금액
						"mpaydate" : new Date().toISOString().slice(0, 10), //결제일
						"mpaygym" : "마주스토리", //헬스장 이름
						"mpayperiod" : selectedDate, //상품이용기간
						"mpaytime" : "",
						"trainername" : "",
						"ggoodsnum" : selectedGoodsNum, //상품번호
						"tgoodsint" : null,
						"gymnum" : "B0001" //헬스장 고유번호
					}
					console.log(result);

					$.ajax({
						url : '/PortOneT/insertMPay',
						type : 'POST',
						contentType : 'application/json',
						data : JSON.stringify(result),
						success : function(res) {
							console.log(res);
							location.href = res;
						},
						error : function(err) {
							console.log(err);
						}
					}); //ajax
				} else {
					var msg = '결제 실패';
					msg += '\n에러내용 : ' + rsp.error_msg;
				}
				alert(msg);
			});
		}
	</script>

	<div th:replace="~{include/bottom::footer}"></div>
</body>
</html>

