<html xmlns:th="http://www.thymeleaf.org">

<body>
	<div th:replace="~{include/top}"></div>
	<section>
		<br>
		<div>
			1.페이지 사이즈 : [[${pageSize}]] &emsp;&emsp; 
			2.페이지 List사이즈(아래숫자갯수) :[[${pageListSize}]]&emsp;&emsp; 
			3.전체레코드 수 :[[${totalCount}]]&emsp;&emsp; 
			4.총페이지수 : [[${totalPage}]] <br>
			5.현재레코드 : [[${start}]]&emsp;&emsp; 
			6.현재페이지 :[[${currentPage}]]&emsp;&emsp; 
			7.가로하단 시작 :[[${listStartPage}]]&emsp;&emsp; 
			8.가로 하단 마지막 : [[${listEndPage}]]
		</div>
		<div align="center">
			<h2>행사/이벤트 목록</h2>
		</div>
		
		<div class="header-container">
		    <h1># 총 <span class="total-count">[[${totalCount}]]</span> 건</h1>
		    <form action="/event/eventList" class="search-form">
		        <div class="search-container">
		            <div class="search-bar">
		                <select name="ch1">
		                    <option value="ename">행사 이름</option>
		                    <option value="etc">특징</option>
		                </select> 
		                <input type="text" name="ch2" placeholder="검색어를 입력하세요"> 
		                <input type="submit" value="검색⌕">
		            </div>  
		        </div>
		    </form>
		</div>

		
		<hr width=650>

		
		<div align="center">
			<table>
				<th:block th:each="m, mStat: ${li} ">
					<tr>
						<td rowspan=2 width=160 height=150 align=center><img th:src="${m.eimage}" width=100 height=120 />
						</td>
					</tr>
					<tr th:class="${mStat.last} ? 'eventList-line' : 'eventList-line'">
						<td><h1 class="event-name">
							<a th:href="@{/event/eventDetail(ename=${m.ename})}"th:text="${m.ename}"></a>
							</h1>
							<br>
							<div class="event-dates" th:text="${m.eday}"></div>
                    		<div class="event-dates" th:text="${m.etc}"></div>
						</td>
					</tr>
					
				</th:block>
			</table>

			

			<ul class="pagination">
			    <li><a th:href="@{/event/eventList(start=1,ch=${ch1}, ch2=${ch2})}">◀</a></li>
			
			    <li th:if="${listStartPage > pageListSize}"
			        th:with="start=${(listStartPage - pageListSize - 1) * pageSize + 1}">
			        <a th:href="@{/event/eventList(start=${start},ch=${ch1}, ch2=${ch2})}">◁</a>
			    </li>
			
			    <li th:if="${listStartPage <= pageListSize}"></li>
			
			    <th:block th:each="i : ${#numbers.sequence(listStartPage, listEndPage )}">
			        <li th:with="start=${(i-1) * pageSize + 1}" th:class="${i == currentPage ? 'active' : ''}">
			            <a th:if="${i <= totalPage}"
			               th:href="@{/event/eventList(start=${start}, ch1=${ch1} ,ch2=${ch2})}"
			               th:text="${i}"></a>
			        </li>
			    </th:block>
			
			    <li th:if="${listEndPage < totalPage}"
			        th:with="start=${listEndPage * pageSize + 1}">
			        <a th:href="@{/event/eventList(start=${start},ch=${ch1}, ch2=${ch2})}">▷</a>
			    </li>
			
			    <li th:if="${listEndPage >= totalPage}"></li>
			
			    <li th:with="endPage=${lastPage}">
			        <a th:href="@{/event/eventList(start=${endPage},ch=${ch1}, ch2=${ch2})}">▶</a>
			    </li>
			</ul>

			&emsp;
		</div>
		<br>
	</section>

	<div th:replace="~{include/bottom::footer}"></div>
</body>
</html>