<html xmlns:th="http://www.thymeleaf.org">

<body>
	<div th:replace="~{include/top}"></div>
	<section>
		<br>

		<div align="center">
			<h2>행사/이벤트 목록</h2>
		</div>
		<div align="center">


			<table>
				<th:block th:each="m, mStat: ${li} ">
					<tr>
						<td rowspan=4>
						<img th:src="${m.eimage}" width=120 height=150 />
						</td>
					</tr>
					<tr>
						<td><a th:href="@{/event/eventDetail(ename=${m.ename})}"
							 th:text="${m.ename}"></a></td>
					</tr>
					<tr>
						<td th:text="${m.eday}" />
					</tr>
					<tr>
						<td th:text="${m.etc}" />
					</tr>
				</th:block>
			</table>

		</div>
		<br>
	</section>

	<div th:replace="~{include/bottom::footer}"></div>
</body>
</html>