<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.majustory.event.EventDao">
	
	
	<select id="list" resultType="com.majustory.event.EventVO">
	 <![CDATA[
	    select * from event_info
	  ]]>
	</select>


</mapper>