<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.majustory.event.EventDao">


	<select id="list" resultType="com.majustory.event.EventVO">
		select rownum , K.*
		from
		( select rownum as rnum , P.*
		from
		(SELECT
		DISTINCT id, ename, status, etc, address, detailaddress, eday,
		DBMS_LOB.SUBSTR(enotion, 4000, 1) AS enotion, eimage, homepage, price
		FROM event_info ) P
		where 1=1
		<if test="ch1 == 'ename'">
			and ename like '%'||#{ch2}||'%'
		</if>
		<if test="ch1 == 'etc'">
			and etc like '%'||#{ch2}||'%'
		</if>
		<![CDATA[
	         and ROWNUM <= #{start} + #{pageSize}-1  
	         ) K 
		     where rnum >=#{start}
		 ]]>
		 
	</select>

	<select id="Detail" resultType="com.majustory.event.EventVO">
		SELECT DISTINCT id, ename, status,
		etc, address, detailaddress, eday,
		DBMS_LOB.SUBSTR(enotion, 4000, 1) AS
		enotion, eimage, homepage, price
		FROM event_info
		where ename = #{ename}
	</select>

	<select id="totalcount"
		parameterType="com.majustory.event.EventVO" resultType="int">
		SELECT count(
		DISTINCT ename)
		FROM event_info
	</select>
	
	
	<insert id="cartInsert" >
		insert into cart(cid, id, ename, eprice, eimage, amount)
		values(cidseq.nextval, #{id},#{ename},#{eprice},#{eimage},#{amount})
	</insert>


</mapper>