<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.majustory.event.EventDao">
	
	
	<select id="list" resultType="com.majustory.event.EventVO">
	 <![CDATA[
	    SELECT DISTINCT ename, status, etc, address, detailaddress, eday, 
	    DBMS_LOB.SUBSTR(enotion, 4000, 1) AS enotion, eimage, homepage, price  
		FROM event_info
	  ]]>
	</select>
	
	<select id="Detail" resultType="com.majustory.event.EventVO">
	    SELECT DISTINCT ename, status, etc, address, detailaddress, eday, 
	    DBMS_LOB.SUBSTR(enotion, 4000, 1) AS enotion, eimage, homepage, price  
		FROM event_info 
		where  ename = #{ename}
	</select>


</mapper>