<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.majustory.login.LoginDao">

	
	<select id="loginUser" resultType="com.majustory.login.LoginVO">
	
	</select>
	
	<insert id ="memberInsert">
		INSERT INTO member
		(oid, username, password, role, name, phone, age, gender, addr1, addr2, addr3)
		values(oid_seq.nextval, #{username}, #{password}, #{role}, #{name}, 
		 		#{phone}, #{age}, #{gender}, #{addr1}, #{addr2}, #{addr3});
	</insert>

</mapper>