<html xmlns:th="http://www.thymeleaf.org">

<body>
	<div th:replace="~{include/top}"></div>

	<section>
	
		<div align="center">
			<h2>마이페이지</h2>
		</div>
		<div align="center">

			<form action="/updateProfile" method="POST">
            <table width = 650>
                <tr>
                    <th>아이디</th>
                    <td><input type="text" name="username" disabled></td>
                </tr>
                <tr>
                    <th>비밀번호</th>
                    <td><input type="password" name="password"></td>
                </tr>
                <tr>
                    <th>전화번호</th>
                    <td><input type="text" name="phone"></td>
                </tr>
                <tr>
                    <th>주소</th>
                    <td><input type="text" name="address"></td>
                </tr>
                <tr>
                    <td colspan="2"><button type="submit">정보 업데이트</button></td>
                </tr>
            </table>
        </form>
        <h2>주문 내역</h2>
        <table>
            <tr>
                <th>상품명</th>
                <th>수량</th>
                <th>가격</th>
            </tr>
            <!-- 주문 내역 데이터는 서버에서 동적으로 로드해야 합니다 -->
            <tr>
                <td>상품 A</td>
                <td>1</td>
                <td>₩10,000</td>
            </tr>
            <!-- 추가 상품 데이터 삽입 가능 -->
        </table>

		</div>
	</section>
	
	


	<div th:replace="~{include/bottom::footer}"></div>
</body>
</html>